<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- <img src="../../assets/images/proj_image.jpg" alt="project_image" class="img-fluid"/> -->
            <img src="https://imgcdn.stablediffusionweb.com/2024/9/13/727b149a-c74d-4e69-84a3-c8bb78fbf69c.jpg" alt="project_image" class="img-fluid"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="container project_container">
                <h1 class="project-heading text-center park_font m-3">My Projects</h1>
                <!-- First Row - 2 Cards -->
                <div class="row">
                    
                  <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card mb-3" style="width: 100%;">
                      <i class="fa-brands fa-wolf-pack-battalion display-2 d-block mb-2 m-auto mt-5"></i>
                      <div class="card-body">
                        <h5 class="project_card_title">Trend-Vibe</h5>
                        <p class="project_font text-center card_font">
                          A dynamic platform merging fashion blogging and social media, enabling users to share trends, insights, and engage in a vibrant community.
                        </p>
                        <a
                          class="btn p-0 d-block m-auto bg-light text-dark w-50 text-uppercase project_font border project_letter_spaced fw-bold"
                          routerLink="/projects/trendvibe" routerLinkActive="active"
                        >
                        Visit
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card mb-3" style="width: 100%;">
                        <!-- <i class="fa-solid fa-money-bill-transfer d-block mb-2 m-auto mt-5"></i> -->
                      <i class="fa fa-credit-card-alt  display-2 d-block mb-2 m-auto mt-5"></i>
                      <div class="card-body">
                        <h5 class="project_card_title">Fund-ex</h5>
                        <p class="project_font text-center card_font">
                          Fund-ex is an all-in-one loan application platform with client and server-side rendering. Apply for 4 different kinds of loans seamlessly.
                        </p>
                        <a
                          class="btn p-0 d-block m-auto bg-light text-dark w-50 text-uppercase project_font border project_letter_spaced fw-bold"
                          routerLink="/projects/fundex" routerLinkActive="active"
                        >
                        Visit
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Second Row - 2 Cards -->
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card mb-3" style="width: 100%;">
                        <i class="fa-solid fa-capsules icon_width"></i>
                      <div class="card-body">
                        <h5 class="project_card_title">Cure-Hub</h5>
                        <p class="project_font text-center card_font">
                          Pharmacy management with server-side rendering. Effortlessly handle inventory, prescriptions, sales, and customer interactions.
                        </p>
                        <a
                          class="btn p-0 d-block m-auto bg-light text-dark w-50 text-uppercase project_font border project_letter_spaced fw-bold"
                          routerLink="/projects/curehub" routerLinkActive="active"
                        >
                          Visit
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card mb-3" style="width: 100%;">
                      <i class="fa-solid fa-bag-shopping icon_width"></i>
                      <div class="card-body">
                        <h5 class="project_card_title">ECMA</h5>
                        <p class="project_font text-center card_font">
                          ECMA blends style and functionality, offering a seamless experience for managing and exploring exquisite luxury handbags.
                        </p>
                        <a
                          class="btn p-0 d-block m-auto bg-light text-dark w-50 text-uppercase project_font border project_letter_spaced fw-bold"
                          routerLink="/projects/ecma" routerLinkActive="active"
                        >
                          Visit
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
    </div>
 
</div>

<router-outlet></router-outlet>