<div class="container-fluid mt-5">
    <div class="row vh-100">
      <div class="col-lg-7 col-md-7 col-sm-12 col-12 proj_back_curehub_image">
        
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12 text_section">
        <h1 class="letter_design tang_font text-light">{{ curehubdata.curehub.pname }}</h1>
        
        <p class="text-light park_font text-center proj_desc">{{ curehubdata.curehub.pdesc }}</p> 
        <p class="text-light park_font text-center proj_desc">Follow the GitHub link below to know more : </p> 
  
        <a href="https://github.com/shetkarthik/Pharmacy-Management-System" target="_blank" class="fa-brands fa-github display-2 text-light d-block text-center "></a>
      </div>
    </div>
    
    <div class="features-section">
      <div class="features-header">
          <h1 class="features-title tang_font">Key Features</h1>
      </div>
      <div class="features-content">
          <ul class="features-list park_font">
              <li>{{ curehubdata.features.keyfeature }}</li>
              <li>{{ curehubdata.features.keyfeature2 }}</li>
              <li>{{ curehubdata.features.keyfeature3 }}</li>
              <li>{{ curehubdata.features.keyfeature4 }}</li>
          </ul>
      </div>
    </div>
    <div class="tech-stack-section container">
      <div class="row mt-5">
        <h1 class="tech-stack-heading text-center park_font m-3">Tech-Stack</h1>
    
        <!-- First Row of Tech Stack -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="tech-stack-icons d-flex justify-content-around text-center">
     
            <div class="tech-stack-item text-center">
              <img  src= "../../assets/images/c-sharp.png" class="tech-stack-icon w-50" />
              <div class="tech-stack-name">C#</div>
            </div>

            <div class="tech-stack-item text-center">
                <i class="fa-brands fa-angular text-danger tech-stack-icon"></i>
                <div class="tech-stack-name">Angular</div>
              </div>

            <div class="tech-stack-item text-center">
              <i class="fa-solid fa-database text-warning tech-stack-icon"></i>
              <div class="tech-stack-name">SQL Server</div>
            </div>
            
            <div class="tech-stack-item text-center">
              <i class="fa-solid fa-server text-primary tech-stack-icon"></i>
              <div class="tech-stack-name">.NET Core</div>
            </div>
          </div>
        </div>
   
    </div>
  
      <img src="image1.png" alt="">
     
    
  </div>
  
  <div class="image-grid">
    <img
      *ngFor="let image of imageUrls"
      [src]="image"
      alt="Image"
      class="grid-image"
      (click)="expandImage(image)"
    />
  </div>
  
  <!-- Modal for Expanded Image -->
  <div *ngIf="selectedImageSrc" class="image-modal">
    <span class="close-modal" (click)="closeImage()">&times;</span>
    <img [src]="selectedImageSrc" class="modal-content" />
  </div>
  
  
  
  
  