<nav class="navbar fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="https://t4.ftcdn.net/jpg/03/22/36/29/360_F_322362986_u2uebjG2ipbmUuflAbCy615pcQUseNqO.jpg" alt="" class="logo_icon">
    </a>
    
    <button  class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div [class.collapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav m-auto">
        <a class="text-center nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="text-center nav-link" routerLink="/about-me">About</a>
        <a class="text-center nav-link" routerLink="/projects">Projects</a>
        <a class="text-center nav-link" routerLink="/contact-me">Contact</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
