.navbar_heading{
    color: red;
}

.nav_icon{
    font-size: 2.5rem;
    border: 3px solid;
    padding: 8px 12px;
    border-radius: 50%;
    
}

.logo_icon
{
    width: 60px;
}

.nav-link{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 12px;
}

.nav-link:hover{
    border-bottom: 2px solid;
    transition: all ease-in-out 1s;
}

.navbar-collapse.collapse {
    display: none;
  }
  
  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }
  