<div class='container-fluid mt-5 overflow-hidden home_background'>
  <div class="row">

    <div class="col-lg-7 col-md-12 col-sm-12 col-12 display-none">
      <img src="../../assets/images/home_imageed.jpg" class="img-fluid d-block m-auto" alt="Home Image" />
    </div>
    <!-- Text Column -->
    <div class="col-lg-5 col-md-12 col-sm-12 col-12 width_container icon_bg">
      <div class="card info_container">
 
        <h1 class="about_greet">Hello!</h1>
        <p class="park_font">I am Karthik - 
          <span class="fw-bold">Full stack Developer</span>
        </p>
        <p class="park_font">Let’s explore the world of innovation, creativity, and technology together</p>
        <button class="btn btn-dark park_font p-3 fs-6 d-block m-auto" routerLink="/about-me" routerLinkActive="active">Explore</button>
      </div>
      
    </div>
    <!-- Image Column -->
    
  </div>
</div>
