
.container-fluid {
    padding: 0;
  }
  
  .home_background {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    scale: 0.9;
  }
  
  .park_font {
    font-family: "Parkinsans", sans-serif;
    letter-spacing: 1px;
  }
  
  .tang_font {
    font-family: "Tangerine", cursive;
  }
  
  .about_greet {
    font-family: "Tangerine", cursive;
    font-size: 6vw; 
    margin-bottom: 20px;
  }
  
  .width_container {
    display: grid;
    place-content: center;
    background: url("https://t3.ftcdn.net/jpg/04/16/66/78/360_F_416667889_yK5tFu9OYqGD4r7XqS8bbnHFA9o8QrcE.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .info_container {
   
    padding: 20px;
  }

  button.btn {
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
  }
 
  /* Media queries for responsiveness */
  @media (max-width: 1200px) {
    .home_background {
      height: auto;
    }
    
    .about_greet {
      font-size: 8vw;
    }

    button.btn {
      padding: 12px 25px;
      font-size: 0.95rem;
    }
  }
  
  @media (max-width: 992px) {
    .about_greet {
      font-size: 10vw;
    }
    p.park_font {
      font-size: 1rem;
    }
    button.btn {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 768px) {
    .about_greet {
      font-size: 12vw;
    }
    p.park_font {
      font-size: 0.9rem;
    }
    button.btn {
      padding: 8px 18px;
      font-size: 0.85rem;
    }
  
    .img-fluid {
      scale: 0.8;
    }
  }
  
  @media (max-width: 576px) {
    .about_greet {
      font-size: 15vw;
    }
    p.park_font {
      font-size: 0.8rem;
    }
    button.btn {
      padding: 5px 15px;
      font-size: 0.8rem;
    }
    .img-fluid {
      scale: 0.7;
    }
  }
  