<div class="container-fluid">
    <div class="row vh-100">
        <!-- Hides column on small screens -->
        <div class="col-lg-8 col-md-8 d-none d-sm-block">
            <div class="con_container">
                <div class="contact_greet tang_font">Feel free to</div>
                <div class="contact_heading">
                    <span>C</span>
                    <span>O</span>
                    <span>N</span>
                    <span>T</span>
                    <span>A</span>
                    <span>C</span>
                    <span>T</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 icon_bg">
            <div class="contact_box">
                <div class='m-1'>
                         <a href="https://www.linkedin.com/in/karthik-shet-3049521a1/" class="text-success" target='_blank'>
                        <div class="fa-brands fa-linkedin icon_font"></div>
                    </a>
                </div>
                <div class='m-1'> 
                    <a href="tel:8971806295" class="text-primary" target='_blank'>
   
                        <div class="fa-solid fa-mobile-screen-button icon_font"></div>
                    </a>
                </div>
                <div class='m-1'>
                    <a href="mailto:shetkarthik89@gmail.com" class="text-info" target='_blank'>
                        <div class="fa-solid fa-envelope icon_font"></div>
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


    