<div class="containerfluid proj_back_image">
    <div class="row h-75">
        <div class="col-lg-8 col-md-6 col-sm-12 col-12">
            <div class="letter_design tang_font text-light">{{ trendvibed.trendvibe.pname }}</div>
            
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <p class="text-light park_font text-center">{{ trendvibed.trendvibe.pdesc }}</p> 
           
        </div>
       
    </div>
    
   
   <!-- <p>{{ trendvibed.trendvibe.pdesc }}</p> -->
    <!-- <div class="content-wrapper">
      
  
      
      <div class="features">
        <h2>Key Features</h2>
        <ul>
          <li>{{ trendvibed.features.keyfeature }}</li>
          <li>{{ trendvibed.features.keyfeature2 }}</li>
          <li>{{ trendvibed.features.keyfeature3 }}</li>
          <li>{{ trendvibed.features.keyfeature4 }}</li>
        </ul>
      </div>
    </div> -->
  
</div>